<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>meetingManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDepartmentsServlet</display-name>
    <servlet-name>ViewAllDepartmentsServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.ViewAllDepartmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDepartmentsServlet</servlet-name>
    <url-pattern>/ViewAllDepartmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUsernameServlet</display-name>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.ValidateUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <url-pattern>/ValidateUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RightManagementServlet</display-name>
    <servlet-name>RightManagementServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.RightManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RightManagementServlet</servlet-name>
    <url-pattern>/RightManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUserServlet</display-name>
    <servlet-name>ViewAllUserServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.ViewAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUserServlet</servlet-name>
    <url-pattern>/ViewAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserInDepartment</display-name>
    <servlet-name>ViewUserInDepartment</servlet-name>
    <servlet-class>conferenceManagement.Servlet.ViewUserInDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserInDepartment</servlet-name>
    <url-pattern>/ViewUserInDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConferenceRoomServlet</display-name>
    <servlet-name>ConferenceRoomServlet</servlet-name>
    <servlet-class>conferenceManagement.Servlet.ConferenceRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConferenceRoomServlet</servlet-name>
    <url-pattern>/ConferenceRoomServlet</url-pattern>
  </servlet-mapping>
</web-app>